<h2>Admin Dashboard</h2>

<h3>Manage Instructors</h3>
<a href="/admin/create-instructor">Create Instructor</a><br><br>

<h3>Manage Courses</h3>
<a href="/admin/create-course">Create Course</a><br><br>
<a href="/admin/courses?page=1">View Courses</a><br><br>

<h3>Manage Students</h3>
<a href="/create-student">Create Student</a><br><br>
<a href="/students?page=1">View Students</a><br><br>
<a href="/enroll">Enroll Student</a><br><br>
<a href="/enrollments?page=1">View Enrollments</a><br><br>

<h3>Reports</h3>
<a href="/reports/students-per-course">Total Students Per Course</a><br><br>
<a href="/reports/revenue-per-instructor">Revenue Per Instructor</a><br><br>
<a href="/reports/most-popular-course">Most Popular Course</a><br><br>

<br><br>
<a href="/logout">Logout</a>