<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
</head>
<body>

  <h1>Admin Dashboard</h1>
  <h3>Product List</h3>

  <ul>
    <% products.forEach(product => { %>
      <li>
        <%= product.name %> - ₹<%= product.price %>
      </li>
    <% }) %>
  </ul>

</body>
</html>
